absl-py==1.4.0
access==1.1.9
accessible-pygments==0.0.4
adam==0.0.0.dev0
adjustText==1.2.0
affine==2.4.0
aiobotocore==2.5.4
aiohttp==3.8.4
aiohttp-cors==0.7.0
aioitertools==0.11.0
aiosignal==1.3.1
aiosqlite==0.19.0
alabaster==1.0.0
alembic==1.13.0
anaconda-client==1.11.1
anaconda-navigator==2.4.0
anaconda-project @ file:///opt/conda/conda-bld/anaconda-project_1660339890420/work
anndata==0.9.1
anndata2ri==1.3.1
annotated-types==0.7.0
annoy==1.17.2
ansiwrap==0.8.4
antlr4-python3-runtime==4.9.3
anyio==4.3.0
appdirs==1.4.4
arboreto==0.1.6
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
array_api_compat==1.8
arrow==1.3.0
arviz==0.18.0
asciitree==0.3.3
asgiref==3.8.1
astroid==3.3.4
asttokens==2.4.1
astunparse==1.6.3
async-generator==1.10
async-lru==2.0.4
async-timeout==4.0.2
attr==0.3.2
attrs @ file:///croot/attrs_1695717823297/work
autograd==1.7.0
autograd-gamma==0.5.0
autopep8==2.0.4
awscli==1.34.31
axel==0.0.7
Babel==2.15.0
backoff==2.2.1
backports.functools-lru-cache @ file:///tmp/build/80754af9/backports.functools_lru_cache_1618170165463/work
backports.tempfile @ file:///home/linux1/recipes/ci/backports.tempfile_1610991236607/work
backports.weakref==1.0.post1
batchglm==0.7.4
bbknn @ git+https://github.com/Teichlab/bbknn.git@95ce34b8905cbde307704a77436c354938ba0367
beautifulsoup4 @ file:///croot/beautifulsoup4-split_1718029820055/work
bidict==0.22.1
biofluff==3.0.4
biopython==1.81
bioservices==1.11.2
biothings-client==0.3.0
bleach==6.1.0
blessed==1.20.0
blitzgsea @ git+https://github.com/MaayanLab/blitzgsea.git@ab5bb416e113dc4923c0c2f5df3f999c795d3bd7
blurhash==1.1.4
bokeh==3.6.0
boltons @ file:///croot/boltons_1677628692245/work
boost==0.1
boto==2.49.0
boto3==1.34.39
botocore==1.35.31
Bottleneck @ file:///home/conda/feedstock_root/build_artifacts/bottleneck_1719274999427/work
Brotli @ file:///croot/brotli-split_1714483155106/work
bs4==0.0.1
build==1.0.3
CacheControl==0.13.1
cached-property==1.5.2
cachetools==5.3.0
cassiopeia-lineage @ file:///home/Data_Drive_8TB_2/wnsdud0325/Single_cell_Study/Cassiopeia
cattrs==23.1.2
cell-gears==0.0.2
cell2location==0.1.3
cellbender==0.3.0
celloracle==0.14.0
cellphonedb==5.0.1
cellpose==3.0.7
celltypist==1.5.3
certifi==2024.2.2
certipy==0.1.3
cffi==1.16.0
chardet @ file:///home/builder/ci_310/chardet_1640804867535/work
charset-normalizer @ file:///croot/charset-normalizer_1721748349566/work
chex==0.1.8
circlify==0.15.0
clarabel==0.7.1
cleo==2.1.0
click @ file:///croot/click_1698129812380/work
click-plugins==1.1.1
cligj==0.7.2
cloudpickle==3.0.0
clustree==0.2.1
clyent==1.2.2
cmocean==3.0.3
colorama==0.4.6
coloredlogs==15.0.1
colorful==0.5.5
colorlog==6.7.0
colormath==3.0.0
comm==0.2.2
commonmark==0.9.1
conda==23.3.1
conda-build==3.23.3
conda-content-trust @ file:///tmp/abs_5952f1c8-355c-4855-ad2e-538535021ba5h26t22e5/croots/recipe/conda-content-trust_1658126371814/work
conda-pack @ file:///tmp/build/80754af9/conda-pack_1611163042455/work
conda-package-handling @ file:///croot/conda-package-handling_1672865015732/work
conda-repo-cli @ file:///croot/conda-repo-cli_1709246574569/work
conda-token @ file:///Users/paulyim/miniconda3/envs/c3i/conda-bld/conda-token_1662660369760/work
conda-verify==3.4.2
conda_package_streaming @ file:///croot/conda-package-streaming_1670508151586/work
ConfigArgParse==1.7
configparser==6.0.0
connection_pool==0.0.3
contextily==1.5.0
contextlib2==21.6.0
contourpy==1.3.0
cooler==0.8.2
crashtest==0.4.1
croniter==1.4.1
cryptography @ file:///croot/cryptography_1724940562255/work
ctxcore==0.2.0
cupy-cuda12x==13.3.0
custom-inherit==2.4.1
cvxpy==1.4.3
cycler==0.12.1
Cython==0.29.34
cytoolz==1.0.0
dask==2024.9.1
dask-expr==1.0.12
dask-image==2023.8.1
dataclasses-json==0.6.1
datasets==2.15.0
datashader==0.16.1
DateTime==5.4
dateutils==0.6.12
datrie==0.8.2
dcor==0.6
debugpy==1.8.1
decorator==5.1.1
decoupler==1.5.0
deepdiff==6.7.1
defusedxml==0.7.1
Deprecated==1.2.14
deprecation==2.1.0
diffxpy==0.7.4
dill==0.3.7
discord==2.3.2
discord.py==2.4.0
diskcache==5.6.3
distlib==0.3.7
distributed==2024.9.1
distro==1.8.0
Django==5.1.1
django-prefetch==1.2.3
dm-tree==0.1.8
docker-pycreds==0.4.0
docopt==0.6.2
docrep==0.3.2
docstring-to-markdown==0.15
docutils==0.21.2
doubletdetection==4.2
dpath==2.2.0
drug2cell==0.1.0
dulwich==0.21.7
dunamai==1.18.0
easydev==0.12.1
ecos==2.0.13
editor==1.6.6
einops==0.8.0
elpigraph-python==0.3.1
equinox==0.11.4
esda==2.5.1
et-xmlfile @ file:///home/conda/feedstock_root/build_artifacts/et_xmlfile_1674664118162/work
ete3==3.1.3
etils==1.2.0
exceptiongroup==1.2.1
executing==2.0.1
fa2 @ file:///home/conda/feedstock_root/build_artifacts/fa2_1667383684020/work
fabric==3.2.2
fastapi==0.109.2
fastcluster==1.2.6
fasteners==0.18
fastjsonschema==2.19.1
fastremap==1.14.1
fastrlock==0.8.2
fbpca==1.0
feather-format==0.4.1
filelock @ file:///croot/filelock_1700591183607/work
fiona==1.9.5
flake8==7.1.1
flatbuffers==24.3.25
flax==0.6.9
fonttools==4.54.1
formulaic==1.0.2
fqdn==1.5.1
frozendict==2.3.8
frozenlist==1.3.3
fsspec==2023.6.0
fst-pso==1.8.1
future @ file:///croot/future_1677599870788/work
FuzzyTM==2.0.5
gast==0.4.0
gdown==4.7.1
genomepy==0.16.1
geographiclib==2.0
geopandas==0.14.2
geopy==2.4.1
geosketch==1.2
get_version==3.5.4
gevent==23.9.1
giddy==2.3.4
gimmemotifs==0.18.0
gitdb==4.0.11
GitPython==3.1.40
glob2 @ file:///home/linux1/recipes/ci/glob2_1610991677669/work
globre==0.1.5
goatools==1.3.11
google-api-core==2.12.0
google-auth==2.18.1
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
googleapis-common-protos==1.60.0
gpustat==1.1.1
graphtools==1.5.3
greenlet==3.1.1
grequests==0.7.0
grpcio==1.54.2
gsea-api==0.3.4
gseapy==0.10.8
gtfparse==2.0.1
gunicorn==21.2.0
h11==0.14.0
h5netcdf==1.3.0
h5py==3.11.0
hachoir==3.1.3
harmonypy==0.0.9
hic-straw==1.3.1
hic2cool==0.5.1
HiCExplorer==2.2.1.1
HiCMatrix==7
hits==0.4.0
hnswlib==0.7.0
HTSeq==2.0.4
httpcore==1.0.5
httpx==0.27.0
huggingface-hub==0.19.4
humanfriendly==10.0
humanize==4.10.0
idna @ file:///croot/idna_1714398848350/work
igraph==0.11.6
imageio==2.34.1
imagesize==1.4.1
import-ipynb==0.1.4
importlib-metadata==7.0.0
importlib-resources==5.12.0
inequality==1.0.1
infercnvpy==0.4.2
inflect==7.0.0
iniconfig==2.0.0
inquirer==3.2.3
installer==0.7.0
interface-meta==1.3.0
interlap==0.2.7
invoke==2.2.0
ipykernel==6.29.5
ipympl==0.9.3
ipython==8.26.0
ipython-autotime==0.3.1
ipython-genutils==0.2.0
ipywidgets==8.1.5
isoduration==20.11.0
isort==5.13.2
iteround==1.0.4
itolapi==4.1.4
jaraco.classes==3.3.0
jax==0.4.33
jaxlib==0.4.33
jaxopt==0.8.3
jaxtyping==0.2.28
jedi==0.19.1
jedi-language-server==0.41.4
Jinja2 @ file:///croot/jinja2_1716993405101/work
jmespath==1.0.1
joblib==1.4.2
JPype1 @ file:///croot/jpype1_1674515160013/work
json5==0.9.25
jsonpatch @ file:///croot/jsonpatch_1714483231291/work
jsonpickle==3.0.2
jsonpointer==2.1
jsonschema @ file:///croot/jsonschema_1699041609003/work
jsonschema-specifications==2023.12.1
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-contrib-core==0.4.2
jupyter-contrib-nbextensions==0.7.0
jupyter-events==0.10.0
jupyter-helpers==0.2.3
jupyter-highlight-selected-word==0.2.0
jupyter-lsp==2.2.5
jupyter-nbextensions-configurator==0.6.1
jupyter-telemetry==0.1.0
jupyter-ydoc==0.3.4
jupyter_client==8.6.1
jupyter_core @ file:///croot/jupyter_core_1718818295206/work
jupyter_server==2.14.0
jupyter_server_fileid==0.9.1
jupyter_server_terminals==0.5.3
jupyterhub==4.0.2
jupyterlab==4.2.0
jupyterlab-lsp==5.1.0
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.1
jupyterlab_widgets==3.0.13
jupyterthemes==0.20.0
kaggle==1.5.16
kaleido==0.2.1
keras==2.12.0
keras-nightly==3.5.0.dev2024083103
keyring==24.3.0
kiwisolver==1.4.7
kneed==0.8.3
ktplotspy==0.2.4
lamin_utils==0.13.4
lazy_loader==0.4
lda==2.0.0
legacy-api-wrap==1.4
leidenalg==0.10.2
lesscpy==0.15.1
Levenshtein==0.23.0
libarchive-c @ file:///croot/python-libarchive-c_1726069797193/work
libclang==16.0.0
libpysal==4.9.2
lifelines==0.29.0
lightning==2.4.0
lightning-cloud==0.5.64
lightning-utilities==0.11.7
lineax==0.0.5
llvmlite==0.43.0
locket==1.0.0
logomaker==0.8
loguru==0.7.0
loompy==3.0.7
loomxpy @ git+https://github.com/aertslab/LoomXpy@61995ff10940968eac2cee8fe48300ab477a15d0
louvain==0.7.2
lsprotocol==2023.0.1
lxml==5.3.0
lz4==4.3.3
MACS2==2.2.9.1
Mako==1.3.0
mapclassify==2.6.1
Markdown==3.7
markdown-it-py==2.2.0
MarkupSafe @ file:///croot/markupsafe_1704205993651/work
marshmallow==3.20.1
Mastodon.py==1.8.1
mate-cxinsys==0.1.6
matplotlib==3.6.3
matplotlib-inline==0.1.7
matplotlib-scalebar==0.8.1
matplotlib-venn==0.11.10
mccabe==0.7.0
mde==0.0.2
mdurl==0.1.2
memory-profiler==0.61.0
mercantile==1.2.1
metatime==1.3.0
mgwr==2.2.1
minepy==1.2.6
miniful==0.0.6
mistune==3.0.2
mizani==0.9.3
mkl-service==2.4.0
mkl_fft @ file:///croot/mkl_fft_1725370245198/work
mkl_random @ file:///croot/mkl_random_1725370241878/work
ml-collections==0.1.1
ml-dtypes==0.3.2
mofax==0.3.6
momepy==0.7.0
more-itertools==10.1.0
mpfr==0.0.1
mplcursors==0.5.3
mpmath==1.3.0
msgpack==1.1.0
mudata==0.2.2
multidict==6.0.4
multipledispatch==1.0.0
multiprocess==0.70.15
multiprocessing-on-dill==3.5.0a4
multiqc==1.23
multiscale_spatial_image==0.11.2
muon==0.1.5
mygene==3.2.2
mysql-connector-python==8.2.0
NaiveDE==1.2.0
namex==0.0.8
natsort==8.3.1
navigator-updater @ file:///croot/navigator-updater_1718030385782/work
nbclient==0.10.0
nbconvert==7.12.0
nbformat==5.10.4
nbsphinx==0.9.3
nbsphinx-link==1.3.0
ncbi-genome-download==0.3.3
ncls==0.0.68
nest-asyncio==1.6.0
networkx==2.8.8
newick==1.0.0
ngs-tools==1.8.5
nheatmap==0.1.4
norns==0.1.6
nose==1.3.7
notebook==7.2.0
notebook_shim==0.2.4
numba==0.60.0
numcodecs==0.11.0
numexpr @ file:///croot/numexpr_1696515281613/work
numpy==1.26.4
numpy-groupies==0.11.2
numpydoc==1.8.0
numpyro==0.15.3
nvidia-cublas-cu11==11.10.3.66
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu11==8.5.0.96
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-ml-py==12.535.77
nvidia-nccl-cu12==2.20.5
nvidia-nvjitlink-cu12==12.3.52
nvidia-nvtx-cu12==12.1.105
nvidia-pyindex==1.0.9
nvidia-tensorrt==99.0.0
oauthlib==3.2.2
ome-zarr==0.8.3
omegaconf==2.3.0
omicverse==1.6.7
omnipath==1.0.8
openai==1.3.6
opencensus==0.11.3
opencensus-context==0.1.3
opencv-python==4.7.0.72
opencv-python-headless==4.9.0.80
openpyxl==3.1.2
opt-einsum==3.3.0
optax==0.1.5
optree==0.12.1
orbax==0.1.7
orbax-checkpoint==0.2.1
ordered-set==4.1.0
osqp==0.6.5
ott-jax==0.4.6
overrides==7.7.0
packaging==24.0
pairing-functions==0.2.1
palettable==3.3.3
pamela==1.1.0
pandas @ file:///croot/pandas_1718308974269/work/dist/pandas-2.2.2-cp310-cp310-linux_x86_64.whl#sha256=a2434a313a5eb5b4fdbec6c770abfde859f643eff7b3a703791bf8b73e54c394
pandas-datareader @ git+https://github.com/pydata/pandas-datareader@d74e48fb8c74258a2f103816b9975910e1b55705
pandoc==2.3
pandocfilters==1.5.1
papermill==2.4.0
parameterized==0.9.0
paramiko==3.4.1
parmap==1.7.0
parso==0.8.4
partd==1.4.2
patsy==0.5.6
pbr==3.1.1
pertpy==0.7.0
pexpect==4.9.0
phate==1.0.11
pheatmap==1.0.1
PhenoGraph==1.5.7
pillow @ file:///croot/pillow_1721059439630/work
PIMS==0.6.1
pip-tools==7.4.1
pkginfo @ file:///croot/pkginfo_1715695984887/work
plac==1.4.3
platformdirs==4.2.2
plotly==5.22.0
plotnine==0.12.4
plottable==0.1.5
pluggy==1.5.0
plumbum==1.8.2
ply==3.11
poetry==1.7.1
poetry-core==1.8.1
poetry-plugin-export==1.6.0
pointpats==2.4.0
polars==0.17.14
prefetch==0.0
prettytable==3.11.0
progressbar2==4.2.0
prometheus_client==0.20.0
prompt-toolkit==3.0.43
protobuf==4.21.12
psutil==6.0.0
ptyprocess==0.7.0
PubChemPy==1.0.4
PuLP==2.8.0
pure_eval==0.2.3
py-monocle @ file:///home/Data_Drive_8TB/qpzm1367/scGPT_tutorial/scGPT/py-monocle
py-spy==0.3.14
pyaml-env==1.2.1
pyarrow==12.0.1
pyarrow-hotfix==0.6
pyasn1==0.6.1
pyasn1_modules==0.4.1
pybedtools==0.9.0
pyBigWig==0.3.22
pybind11==2.10.4
pybiomart==0.2.0
pyCirclize==1.6.0
pycistarget @ git+https://github.com/aertslab/pycistarget@3fde1ce5e16241f00078bee920d8a805ccbf2360
pycodestyle==2.12.1
pycosat @ file:///croot/pycosat_1714510623388/work
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pycryptodomex==3.20.0
pydantic==2.1.1
pydantic_core==2.4.0
pydata-sphinx-theme==0.14.1
pyDeprecate==0.3.1
pydeseq2==0.4.10
pydocstyle==6.3.0
pydot==1.4.2
pyee==8.2.2
pyfaidx==0.7.2.2
pyfasta==0.5.2
pyflakes==3.2.0
pyFUME==0.2.25
pygam==0.8.0
pyGenomeTracks==3.0
pygeos==0.14
pygls==1.3.1
Pygments==2.18.0
PyGSP==0.5.1
PyIF==0.1
pyinform==0.2.0
pyjnius==1.6.0
PyJWT @ file:///croot/pyjwt_1715094751094/work
pylint==3.3.1
pymde==0.1.18
PyNaCl==1.5.0
pynndescent==0.5.8
pynvml==11.5.3
Pyomo==6.7.1
pyOpenSSL @ file:///croot/pyopenssl_1723651579422/work
pypairix==0.3.7
pyparsing==3.1.4
PyPDF2==3.0.1
pypi-latest==0.1.2
pypng==0.20220715.0
pyppeteer==1.0.2
pyproj==3.6.1
pyproject-toml==0.0.10
pyproject_hooks==1.0.0
PyQt5==5.15.10
PyQt5-sip @ file:///croot/pyqt-split_1698769088074/work/pyqt_sip
pyranges==0.0.127
pyreadr==0.4.7
pyrle==0.0.38
pyro-api==0.1.2
pyro-ppl==1.8.6
pysal==23.7
pysam==0.21.0
pyscenic @ git+https://github.com/aertslab/pySCENIC@31d51a1625f12fb3c6e92bc48ecc9d401524c22a
pyseq-align==1.0.2
PySocks @ file:///home/builder/ci_310/pysocks_1640793678128/work
pytest==8.3.3
python-circos==0.3.0
python-dateutil @ file:///croot/python-dateutil_1716495738603/work
python-dotplot==0.0.1
python-igraph==0.11.5
python-json-logger==2.0.7
python-Levenshtein==0.23.0
python-louvain==0.16
python-lsp-jsonrpc==1.1.2
python-lsp-server==1.12.0
python-magic==0.4.27
python-multipart==0.0.9
python-utils==3.8.1
pytoml==0.1.21
pytoolconfig==1.3.1
pytorch-lightning==1.5.3
pytz @ file:///croot/pytz_1713974312559/work
pytz-deprecation-shim==0.1.0.post0
pyvis==0.3.2
PyYAML==6.0.2
pyzmq==26.0.3
qdldl==0.1.7.post1
qnorm==0.8.1
qtconsole==5.5.2
QtPy @ file:///croot/qtpy_1700144840038/work
quantecon==0.7.1
questionary==2.0.1
rapidfuzz==3.1.2
rasterio==1.3.9
rasterstats==0.19.0
ray==2.6.1
readchar==4.0.5
referencing==0.35.1
regex==2024.9.11
reportlab==4.2.0
requests==2.32.1
requests-cache==1.1.0
requests-oauthlib==1.3.1
requests-toolbelt==1.0.0
reretry==0.11.8
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.7.0
rich-click==1.8.3
rinoh-mscorefontinstaller==0.1.0
roifile==2024.3.20
rope==1.13.0
rpds-py @ file:///croot/rpds-py_1698945930462/work
rpy2==3.5.12
rsa==4.7.2
ruamel-yaml-conda @ file:///croot/ruamel_yaml_1667489728852/work
ruamel.yaml @ file:///croot/ruamel.yaml_1666304550667/work
ruamel.yaml.clib @ file:///croot/ruamel.yaml.clib_1666302247304/work
runs==1.2.2
s-gd2==1.8.1
s3fs==2023.6.0
s3transfer==0.10.0
safetensors==0.4.1
sc-toolbox==0.12.3
scanorama==1.7.4
scanpy==1.10.3
scArches==0.5.10
scarf==0.28.2
sceleto2==1.1.2
# Editable install with no version control (scenicplus==1.0.1.dev4+ge4bdd9f.d20231022)
-e /home/Data_Drive_8TB/ghlqls/scenicplus/src
scFates==1.0.8
scgpt==0.1.9
scHPL==1.0.5
scib==1.0.4
scib-metrics==0.5.0
scikit-image==0.23.2
scikit-learn==1.5.2
scikit-misc==0.1.4
scikit-network==0.31.0
scipy==1.11.4
scprep==1.1.0
scribe==0.3.1
scrublet==0.2.3
scs==3.2.4.post1
scvelo==0.2.4
scvi-tools==0.16.0
seaborn==0.13.2
segregation==2.5
Send2Trash==1.8.3
sentencepiece==0.2.0
sentry-sdk==1.38.0
session-info==1.0.0
setproctitle==1.3.3
setuptools-scm==7.1.0
shapely==2.0.2
shellingham==1.5.4
shortuuid==1.0.13
simpful==2.11.0
simplejson==3.19.2
simpleppt==1.1.4
sinfo==0.3.4
sip @ file:///croot/sip_1698675935381/work
six==1.16.0
slicerator==1.1.0
slugify==0.0.1
smart-open==7.0.5
smmap==5.0.1
snakemake==7.32.4
sniffio==1.3.1
snowballstemmer==2.2.0
snuggs==1.4.7
sorted-nearest==0.0.39
sortedcontainers==2.4.0
soupsieve @ file:///croot/soupsieve_1696347547217/work
spaghetti==1.7.4
sparse==0.15.1
sparsecca==0.3.1
spatial_image==0.3.0
spatialdata==0.0.15
SpatialDE==1.1.3
spectra==0.0.11
spglm==1.1.0
Sphinx==8.0.2
sphinx-book-theme==1.0.1
sphinx-rtd-theme==1.3.0
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
spicy==0.16.0
spint==1.0.7
splot==1.1.5.post1
spopt==0.6.0
spreg==1.4.2
spvcm==0.3.0
SQLAlchemy==2.0.35
sqlparse==0.5.1
squidpy==1.4.1
stack-data==0.6.3
starlette==0.36.3
starsessions==1.3.0
statistics==1.0.3.5
statsmodels==0.14.3
stdlib-list==0.8.0
stopit==1.1.2
style==1.1.0
suds-community==1.1.2
sympy==1.13.3
tabulate==0.9.0
tasklogger==1.2.0
tb-nightly==2.18.0a20240830
tblib==3.0.0
tenacity==9.0.0
tensorboard==2.12.3
tensorboard-data-server==0.7.0
tensorflow==2.12.0
tensorflow-estimator==2.12.0
tensorflow-io-gcs-filesystem==0.32.0
tensorrt==8.6.1.post1
tensorrt-bindings==8.6.1
tensorrt-libs==8.6.1
tensorstore==0.1.36
termcolor==2.3.0
terminado==0.18.1
texttable==1.6.7
textwrap3==0.9.2
tf_nightly==2.18.0.dev20240828
threadpoolctl==3.1.0
throttler==1.2.2
tifffile==2024.4.18
tinycss2==1.3.0
tmtoolkit==0.11.2
tobler==0.11.2
tokenizers==0.15.0
toml @ file:///tmp/build/80754af9/toml_1616166611790/work
tomli==2.0.1
tomlkit==0.12.3
toolz==0.12.1
toposort==1.10
torch==2.4.1
torch_geometric==2.4.0
torchaudio==2.1.0
torchdata==0.7.1
torchmetrics==0.11.4
torchtext==0.14.0
torchvision==0.16.0
tornado==6.4.1
toyplot==1.0.3
toytree==2.0.5
tqdm @ file:///croot/tqdm_1724853939799/work
traitlets @ file:///croot/traitlets_1718227057033/work
transformers==4.37.0.dev0
triton==3.0.0
trove-classifiers==2023.11.29
tspex==0.6.3
typeguard==4.3.0
types-python-dateutil==2.9.0.20240316
typing==3.7.4.3
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1727140567071/work
tzlocal==4.3
ujson @ file:///croot/ujson_1717597529825/work
umap-learn==0.5.3
update==0.0.1
uri-template==1.3.0
url-normalize==1.4.3
urllib3==1.26.20
utils==1.0.1
uvicorn==0.27.1
validators==0.22.0
velocyto==0.17.17
virtualenv==20.21.0
wandb==0.16.1
wcwidth==0.2.13
webcolors==1.13
webencodings==0.5.1
websocket-client==1.8.0
websockets==10.4
Werkzeug==3.0.4
whatthepatch==1.0.6
widgetsnbextension==4.0.13
wrapt==1.16.0
xarray==2023.12.0
xarray-dataclasses==1.7.0
xarray-datatree==0.0.14
xarray-einstats==0.7.0
xarray-schema==0.0.3
xarray-spatial==0.3.7
xdg==6.0.0
xgboost==2.0.1
xlrd @ file:///home/conda/feedstock_root/build_artifacts/xlrd_1610224409810/work
XlsxWriter==3.1.9
xmltodict==0.13.0
xmod==1.8.1
xxhash==3.4.1
xyzservices==2023.10.1
yapf==0.40.2
yarl==1.9.2
yte==1.5.4
zarr==2.14.2
zict==3.0.0
zipp==3.20.2
zope.event==5.0
zope.interface==7.1.0
zstandard @ file:///croot/zstandard_1714677652653/work
